.calendar-preview {
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
}
.calendar-header {
  font-weight: bold;
  text-align: center;
  color: #ff9800;
  padding: 5px;
}

.calendar-day {
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  font-size: 14px;
}
.empty-day {
  background-color: transparent;
}
h1 {
  font-size: 24px;
}
p {
  font-size: 14px;
  color: #555;
}
